In [1]:
import pandas as pd
import json 
from pandas.io.json import json_normalize

In [2]:
df = pd.DataFrame(pd.read_json('data/world_bank_projects.json'))

In [3]:
tl = json.load((open('data/world_bank_projects.json')))
tn = json_normalize(tl, 'mjtheme_namecode')

In [4]:
tn

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [6]:
theme = tn.groupby(['name']).size()

In [7]:
theme

name
                                                122
Economic management                              33
Environment and natural resources management    223
Financial and private sector development        130
Human development                               197
Public sector governance                        184
Rule of law                                      12
Rural development                               202
Social dev/gender/inclusion                     119
Social protection and risk management           158
Trade and integration                            72
Urban development                                47
dtype: int64

In [8]:
theme.nlargest(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [1]:
import pandas as pd
import json 
from pandas.io.json

SyntaxError: invalid syntax (<ipython-input-1-31fcc2534c4b>, line 3)

In [2]:
import pandas as pd
import json

In [3]:
df = pd.DataFrame(pd.read_json('data/world_bank_projects.json'))

In [4]:
p = df.groupby(['countryshortname']).size()

In [5]:
p

countryshortname
Afghanistan                       6
Africa                           11
Albania                           4
Angola                            1
Antigua and Barbuda               1
Argentina                         2
Armenia                           8
Azerbaijan                        4
Bangladesh                       12
Belarus                           1
Benin                             4
Bhutan                            4
Bolivia                           2
Bosnia and Herzegovina            1
Brazil                            9
Burkina Faso                      9
Burundi                           4
Cambodia                          2
Cameroon                          2
Cape Verde                        1
Central African Republic          1
Chad                              1
Chile                             1
China                            19
Colombia                          3
Comoros                           3
Congo, Democratic Republic of     6
Congo, Republic of                1
Costa Rica                        1
Cote d'Ivoire                     4
                                 ..
Sao Tome and Principe             2
Senegal                           4
Serbia                            1
Seychelles                        2
Sierra Leone                      2
Solomon Islands                   3
South Asia                        2
South Sudan                       3
Sri Lanka                         1
Sudan                             4
Tajikistan                        8
Tanzania                          8
Thailand                          1
Timor-Leste                       2
Togo                              3
Tonga                             1
Tunisia                           4
Turkey                            4
Tuvalu                            1
Uganda                            4
Ukraine                           4
Uruguay                           3
Uzbekistan                        5
Vanuatu                           3
Vietnam                          17
West Bank and Gaza                6
World                             2
Yemen, Republic of               13
Zambia                            4
Zimbabwe                          1
dtype: int64

In [6]:
jload = json.load((open('data/world_bank_projects.json')))
theme = json_normalize(jl, 'mjtheme_namecode')

NameError: name 'json_normalize' is not defined

In [7]:
from pandas.io.json import json_normalize

In [8]:
jload = json.load((open('data/world_bank_projects.json')))
theme = json_normalize(jl, 'mjtheme_namecode')

NameError: name 'jl' is not defined

In [9]:
theme = json_normalize(jload, 'mjtheme_namecode')

In [10]:
theme

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [11]:
t = theme.groupby(['name']).size()

In [12]:
t

name
                                                122
Economic management                              33
Environment and natural resources management    223
Financial and private sector development        130
Human development                               197
Public sector governance                        184
Rule of law                                      12
Rural development                               202
Social dev/gender/inclusion                     119
Social protection and risk management           158
Trade and integration                            72
Urban development                                47
dtype: int64

In [14]:
theme.name.unique()

array(['Human development', '', 'Economic management',
       'Social protection and risk management', 'Trade and integration',
       'Public sector governance',
       'Environment and natural resources management',
       'Social dev/gender/inclusion',
       'Financial and private sector development', 'Rural development',
       'Urban development', 'Rule of law'], dtype=object)

In [15]:
o = theme.name.unique()

In [16]:
o

array(['Human development', '', 'Economic management',
       'Social protection and risk management', 'Trade and integration',
       'Public sector governance',
       'Environment and natural resources management',
       'Social dev/gender/inclusion',
       'Financial and private sector development', 'Rural development',
       'Urban development', 'Rule of law'], dtype=object)

In [17]:
o = theme.sort(['name'])

C:\Users\AAC\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [18]:
o

     code               name
1036    8
908    10
407    11
405     4
1277    4
920     4
922     7
1268    2
165    10
391    10
1258    8
389    11
171     4
173     2
1244    6
185     7
1242    4
187    11
424    10
906     5
435    10
885    11
1331   11
98     11
1329    4
100     7
493     3
836     6
486     2
107     4
...   ...                ...
200     9  Urban development
194     9  Urban development
1318    9  Urban development
535     9  Urban development
183     9  Urban development
1303    9  Urban development
1290    9  Urban development
822     9  Urban development
414     9  Urban development
1166    9  Urban development
917     9  Urban development
732     9  Urban development
598     9  Urban development
597     9  Urban development
962     9  Urban development
369     9  Urban development
1095    9  Urban development
585     9  Urban development
1428    9  Urban development
354     9  Urban development
1102    9  Urban development
1425    9  Urban development
1103    9  Urban development
1104    9  Urban development
53      9  Urban development
940     9  Urban development
570     9  Urban development
513     9  Urban development
1426    9  Urban development
930     9  Urban development

[1499 rows x 2 columns]

In [21]:
theme.sort_values(by=['code'])

     code                 name
458     1  Economic management
1235    1  Economic management
1230    1  Economic management
1229    1  Economic management
1218    1  Economic management
900     1  Economic management
648     1  Economic management
647     1  Economic management
1078    1  Economic management
1206    1  Economic management
1437    1
357     1  Economic management
363     1
1010    1  Economic management
784     1  Economic management
1024    1
88      1  Economic management
1045    1  Economic management
497     1  Economic management
1056    1  Economic management
1057    1  Economic management
1114    1
454     1  Economic management
453     1  Economic management
1257    1  Economic management
1260    1  Economic management
1212    1  Economic management
249     1  Economic management
841     1  Economic management
220     1  Economic management
...   ...                  ...
669     9    Urban development
1303    9    Urban development
1347    9    Urban development
460     9
1342    9    Urban development
183     9    Urban development
200     9    Urban development
1318    9    Urban development
1290    9    Urban development
585     9    Urban development
737     9    Urban development
822     9    Urban development
369     9    Urban development
597     9    Urban development
53      9    Urban development
598     9    Urban development
356     9    Urban development
354     9    Urban development
962     9    Urban development
738     9    Urban development
512     9    Urban development
742     9    Urban development
1428    9    Urban development
333     9
1426    9    Urban development
1425    9    Urban development
447     9    Urban development
739     9    Urban development
341     9    Urban development
1102    9    Urban development

[1499 rows x 2 columns]

In [22]:
x = theme.sort_values(by=['code'])

In [23]:
x.name.unique()

array(['Economic management', '', 'Rural development',
       'Environment and natural resources management',
       'Public sector governance', 'Rule of law',
       'Financial and private sector development', 'Trade and integration',
       'Social protection and risk management',
       'Social dev/gender/inclusion', 'Human development',
       'Urban development'], dtype=object)

In [24]:
x.code.unique()

array(['1', '10', '11', '2', '3', '4', '5', '6', '7', '8', '9'], dtype=object)

In [29]:
t.replace('.', 'NaN')

name
                                                122
Economic management                              33
Environment and natural resources management    223
Financial and private sector development        130
Human development                               197
Public sector governance                        184
Rule of law                                      12
Rural development                               202
Social dev/gender/inclusion                     119
Social protection and risk management           158
Trade and integration                            72
Urban development                                47
dtype: int64

In [30]:
t

name
                                                122
Economic management                              33
Environment and natural resources management    223
Financial and private sector development        130
Human development                               197
Public sector governance                        184
Rule of law                                      12
Rural development                               202
Social dev/gender/inclusion                     119
Social protection and risk management           158
Trade and integration                            72
Urban development                                47
dtype: int64

In [31]:
isnull(t['name'])

NameError: name 'isnull' is not defined

In [34]:
t['name'] = t['name'].cat.set_categories(['Economic management', 'MISSING', 'Rural development', \
'Environment and natural resources management', \
'Public sector governance', 'Rule of law', \
'Financial and private sector development', 'Trade and integration', \
'Social protection and risk management', \
'Social dev/gender/inclusion', 'Human development', \
'Urban development'])

KeyError: 'name'

In [35]:
tn

NameError: name 'tn' is not defined

In [36]:
t

name
                                                122
Economic management                              33
Environment and natural resources management    223
Financial and private sector development        130
Human development                               197
Public sector governance                        184
Rule of law                                      12
Rural development                               202
Social dev/gender/inclusion                     119
Social protection and risk management           158
Trade and integration                            72
Urban development                                47
dtype: int64

In [37]:
theme = json_normalize(jload, 'mjtheme_namecode')

In [38]:
theme

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [1]:
import pandas as pd
import json 

# 1. Find the 10 countries with most projects

# - 1a. Create dataframe
df = pd.DataFrame(pd.read_json('data/world_bank_projects.json'))

# - 1b. Determine count by country
p = df.groupby(['countryshortname']).size()

# - 1c. Display 10 countries with most projects
p.nlargest(10)

countryshortname
China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Morocco               12
Nepal                 12
Africa                11
Mozambique            11
dtype: int64

In [2]:
# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

from pandas.io.json import json_normalize

# - 2a. Load JSON file
jl = json.load((open('data/world_bank_projects.json')))

# - 2b. Normalize theme code and theme name
pf = json_normalize(jl, 'mjtheme_namecode')

# - 2c. Determine count by theme name
t = pf.groupby(['name']).size()

# - 2d. Display top 10 project themes
t.nlargest(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [4]:
index = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']
xf = pd.DataFrame({
     'code': ['1', '10', '11', '2', '3', '4', '5', '6', '7', '8', '9'], \
     'name': ['Economic management', 'Rural development', \
       'Environment and natural resources management', \
       'Public sector governance', 'Rule of law', \
       'Financial and private sector development', 'Trade and integration', \
       'Social protection and risk management', \
       'Social dev/gender/inclusion', 'Human development', \
       'Urban development']},
      index=index)
xf

   code                                          name
1     1                           Economic management
2    10                             Rural development
3    11  Environment and natural resources management
4     2                      Public sector governance
5     3                                   Rule of law
6     4      Financial and private sector development
7     5                         Trade and integration
8     6         Social protection and risk management
9     7                   Social dev/gender/inclusion
10    8                             Human development
11    9                             Urban development

In [1]:
import pandas as pd
import json 

# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

from pandas.io.json import json_normalize

# - 2a. Load JSON file
jl = json.load((open('data/world_bank_projects.json')))

# - 2b. Normalize project themes (codes & names)
pt = json_normalize(jl, 'mjtheme_namecode')

# - 2c. Determine count by theme name
t = pt.groupby(['name']).size()

# - 2d. Display top 10 project themes
t.nlargest(10)

index = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']
xf = jl.DataFrame({
     'code': ['1', '10', '11', '2', '3', '4', '5', '6', '7', '8', '9'], \
     'name': ['Economic management', 'Rural development', \
       'Environment and natural resources management', \
       'Public sector governance', 'Rule of law', \
       'Financial and private sector development', 'Trade and integration', \
       'Social protection and risk management', \
       'Social dev/gender/inclusion', 'Human development', \
       'Urban development']},
      index=index)
xf

AttributeError: 'list' object has no attribute 'DataFrame'

In [2]:
pt

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [3]:
index = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']
xf = pt.DataFrame({
     'code': ['1', '10', '11', '2', '3', '4', '5', '6', '7', '8', '9'], \
     'name': ['Economic management', 'Rural development', \
       'Environment and natural resources management', \
       'Public sector governance', 'Rule of law', \
       'Financial and private sector development', 'Trade and integration', \
       'Social protection and risk management', \
       'Social dev/gender/inclusion', 'Human development', \
       'Urban development']},
      index=index)

new_column = pt.Series(['code'], name='name', index=[0])
xf.update(new_column)

xf

AttributeError: 'DataFrame' object has no attribute 'DataFrame'

In [1]:
import pandas as pd
import json 

# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

from pandas.io.json import json_normalize

# - 2a. Load JSON file
jl = json.load((open('data/world_bank_projects.json')))

# - 2b. Normalize project themes (codes & names)
pt = json_normalize(jl, 'mjtheme_namecode')

# - 2c. Determine count by theme name
t = pt.groupby(['name']).size()

# - 2d. Display top 10 project themes
t.nlargest(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [2]:
index = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']
xf = pt.DataFrame({
     'code': ['1', '10', '11', '2', '3', '4', '5', '6', '7', '8', '9'], \
     'name': ['Economic management', 'Rural development', \
       'Environment and natural resources management', \
       'Public sector governance', 'Rule of law', \
       'Financial and private sector development', 'Trade and integration', \
       'Social protection and risk management', \
       'Social dev/gender/inclusion', 'Human development', \
       'Urban development']},
      index=index)

new_column = pt.Series(['code'], name='name', index=[0])
xf.update(new_column)

xf

AttributeError: 'DataFrame' object has no attribute 'DataFrame'

In [3]:
import pandas as pd
import json 

# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

from pandas.io.json import json_normalize

# - 2a. Load JSON file
jl = pd.DataFrame(pd.read_json('data/world_bank_projects.json'))

# - 2b. Normalize project themes (codes & names)
pt = json_normalize(jl, 'mjtheme_namecode')

# - 2c. Determine count by theme name
t = pt.groupby(['name']).size()

# - 2d. Display top 10 project themes
t.nlargest(10)

TypeError: string indices must be integers