In [1]:
# 1. Find the 10 countries with most projects
import pandas as pd

# - 1a. Create dataframe
df = pd.DataFrame(pd.read_json('data/world_bank_projects.json'))

# - 1b. Determine count by country
p = df.groupby(['countryshortname']).size()

# - 1c. Display 10 countries with most projects
p.nlargest(10)

countryshortname
China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Morocco               12
Nepal                 12
Africa                11
Mozambique            11
dtype: int64

In [2]:
# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')
import json
from pandas.io.json import json_normalize

# - 2a. Load JSON file
jl = json.load((open('data/world_bank_projects.json')))

# - 2b. Normalize project themes (codes & names)
pt = json_normalize(jl, 'mjtheme_namecode')

# - 2c. Determine count by theme name
t = pt.groupby(['name']).size()

# - 2d. Display top 10 project themes
t.nlargest(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [3]:
# 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

import pandas as pd
import json
from pandas.io.json import json_normalize

# - 3a. Load mjtheme_namecode from JSON file
jl1 = json_normalize(json.load((open('data/world_bank_projects.json'))), 'mjtheme_namecode')

# - 3b. Create dataframes
df2 = pd.DataFrame({
     'code': ['1', '10', '11', '2', '3', '4', '5', '6', '7', '8', '9'], \
     'name': ['Economic management', 'Rural development', \
       'Environment and natural resources management', \
       'Public sector governance', 'Rule of law', \
       'Financial and private sector development', 'Trade and integration', \
       'Social protection and risk management', \
       'Social dev/gender/inclusion', 'Human development', \
       'Urban development']})

# - 3c. Merge/Sort files by code
mrg = pd.merge(jl1, df2, on=['code']).sort_values(by=['code'])
mrg

     code               name_x               name_y
488     1                       Economic management
480     1  Economic management  Economic management
481     1  Economic management  Economic management
483     1                       Economic management
484     1  Economic management  Economic management
485     1  Economic management  Economic management
486     1  Economic management  Economic management
487     1  Economic management  Economic management
479     1  Economic management  Economic management
489     1  Economic management  Economic management
491     1  Economic management  Economic management
492     1  Economic management  Economic management
493     1  Economic management  Economic management
494     1  Economic management  Economic management
495     1  Economic management  Economic management
496     1  Economic management  Economic management
497     1                       Economic management
490     1  Economic management  Economic management
478     1  Economic management  Economic management
482     1  Economic management  Economic management
476     1  Economic management  Economic management
460     1  Economic management  Economic management
461     1  Economic management  Economic management
462     1  Economic management  Economic management
463     1  Economic management  Economic management
464     1  Economic management  Economic management
477     1  Economic management  Economic management
466     1  Economic management  Economic management
467     1  Economic management  Economic management
468     1  Economic management  Economic management
...   ...                  ...                  ...
1435    9    Urban development    Urban development
1436    9    Urban development    Urban development
1437    9    Urban development    Urban development
1438    9    Urban development    Urban development
1439    9    Urban development    Urban development
1440    9                         Urban development
1441    9    Urban development    Urban development
1442    9    Urban development    Urban development
1443    9    Urban development    Urban development
1444    9    Urban development    Urban development
1445    9    Urban development    Urban development
1446    9    Urban development    Urban development
1448    9                         Urban development
1449    9    Urban development    Urban development
1450    9    Urban development    Urban development
1451    9    Urban development    Urban development
1452    9    Urban development    Urban development
1453    9    Urban development    Urban development
1454    9    Urban development    Urban development
1455    9    Urban development    Urban development
1456    9    Urban development    Urban development
1457    9    Urban development    Urban development
1458    9    Urban development    Urban development
1459    9    Urban development    Urban development
1460    9    Urban development    Urban development
1462    9    Urban development    Urban development
1463    9    Urban development    Urban development
1464    9    Urban development    Urban development
1466    9    Urban development    Urban development
1447    9                         Urban development

[1499 rows x 3 columns]